<div class="block padded centered askew">
  <div class="ragged-card">
    <p class="serif-text">
      <span class="loud">Web startup? Get on the bus.</span>
    </p>
    <p class="plain-text quiet">
      funconf is sold-out. You can add yourself to the waitlist here.
    </p>
  </div>
  <div class ="shadow">&nbsp;</div>
</div>
<div class="block">
  <div style="display: inline;">
    <iframe src="http://www.eventbrite.com/tickets-external?eid=534006227&ref=etckt" frameborder="0" marginwidth="5" marginheight="5" vspace="0" hspace="0" width="100%" height="321" allowtransparency="true" scrolling="auto"></iframe>
    <a href="http://www.eventbrite.com/r/etckt"><img src="http://www.eventbrite.com/s.gif" alt="Events" border="0"/></a>
  </div>
</div>