<div class="block padded centered askew">
  <div class="ragged-card">
    <p class="serif-text">
      <span class="loud">(un)funconf Drinkup. Drowning the volcano.</span>
    </p>
    <p class="plain-text quiet">
      The drinkup replaced the conference on the 24th April. It was <a href="http://funconf.tumblr.com/post/535921775/the-volcano-beats-funconf"> postponed because of a volcano</a>.
    </p>
  </div>
  <div class ="shadow">&nbsp;</div>
</div>
<div class="major column">
  <div class="block hugging">
    <div class="block flush">
      <h3>The night of plenty.</h3>
      <div class="plain-text">
        
        <p>We decided to <a href="http://funconf.tumblr.com/post/535921775/the-volcano-beats-funconf">postpone</a> funconf because the mighty volcano "Eyjafjallajokull" spewed ashcloud into European airspace, closing the whole operation down for a week.</p>
        
        <p>As it turned out, we would have been fine.</p>
        
        <p>No matter, of our ten speakers, three made it over regardless. <strong>Werner Vogels</strong>, <strong>Joe Stump</strong> and <strong>Tom Preston-Werner</strong> were out in force.</p>
        
        <p>Those who were there enjoyed many a cocktail and stories of Joe Stump's experiences with "rm -rf /*", Werner's history as a navyman and TPW's skills with earbud headsets.</p>
        
        <p>Here's what some folks had to say:</p>
        
        <p class="quote">
          <q>great night and great beers, was great to meet everyone and fingers crossed someone drops out so that we can go on the real conference</q>
          <cite><a href="http://twitter.com/Eamonnfallon">Eamonn Fallon</a></cite>
          <em><a href="http://daft.com">Daft.com</a></em>
        </p>
        
        <p class="quote">
           <q>(un)funconf was a great taster of what's in store for the real event, minus all that volcano business!</q>
           <cite><a href="http://twitter.com/davidjrice">David Rice</a></cite>
         </p>
        
        <p class="quote">
           <q>(un)funconf was so worth it already, even without the conf part</q>
           <cite><a href="http://twitter.com/alexlang">Alexander Lang</a></cite>
           <em><a href="http://upstream-berlin.com">Upstream</a></em>
         </p>
        
        <p class="quote">
           <q>(Un)funconf was like a perfect family gathering - meeting the wise, cunning and charming folks by good food, drinks and music.</q>
           <cite><a href="http://twitter.com/freaklikeme">Thilo Utke</a></cite>
           <em><a href="http://upstream-berlin.com">Upstream</a></em>
         </p>

        <p class="quote">
           <q>Learned so much @ #unfunconf, not sure how I'll be able to handle @funconf.</q>
           <cite><a href="http://twitter.com/klimpong">Till Klampaeckel</a></cite>
         </p>
        
       <p class="quote">
          <q>The passion and integrity with which Paul and Eamo have organised FunConf is inspiring—unFunConf was actually fun, FunConf is going to be epic.</q>
          <cite><a href="http://twitter.com/eoghanmccabe">Eoghan McCabe</a></cite>
          <em><a href="http://contrast.ie">Contrast</a></em>
        </p>
        
        <p class="quote">
          <q>Unfunconf by itself, was a better event than many full on conferences I've been to.  If you missed it, you missed out big time.</q>
          <cite><a href="http://twitter.com/destraynor">Des Traynor</a></cite>
          <em><a href="http://contrast.ie">Contrast</a></em>
        </p>
        
        <p class="quote">
          <q>Best mojito I've ever had. </q>
          <cite><a  href="http://twitter.com/ciaramcguire">Ciara McGuire</a></cite>
          <em><a href="http://www.rbs6nations.com/">Six Nations &amp; Lions Limited</a></em>
        </p>
        
        <p class="quote">
          <q>Chatting amongst amazing brains from Berlin to Belfast, I had a blast!</q>
          <cite><a href="http://www.twitter.com/yelpdublin">Annie Lowney</a></cite>
          <em><a href="http://yelp.ie">Yelp</a></em>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="minor column">
  <div class="block hugging">
    <ul class="illustration-list">
      <li class="illustration-item"><img src="/images/itinerary/gravity.png" alt="The Gravity Bar"></li>
    </ul>
  </div>
</div>