<div class="block padded centered askew">
  <div class="ragged-card">
    <p class="serif-text">
      <span class="loud">A one day web conference on a bus. Foiled by a volcano.</span>
    </p>
  </div>
  <div class ="shadow">&nbsp;</div>
</div>
<div class="major column">
  <div class="block hugging">
    <div class="block flush">
      <div class="plain-text">
        
        <p>Whilst embarking on a bus-tour of the Irish countryside, funconf attendees will listen to stories from some of the brightest folks of the online world. The emphasis is on getting up close and personal with the speakers. Intimate, informal, moving: <em>literally</em>.</p>
        
        <p><a href="/speakers">The Storytellers</a> include Werner Vogels, Michael Lopp, Joe Stump, Jonathan Siegel, Amy Hoy, Blake Mizerany, Tom Preston-Werner, Marshall Kirkpatrick, Matthew Inman and Thomas Fuchs. <a href="/speakers">Find out more&hellip;</a></p>
      </div>
    </div>
  </div>
</div>
<div class="minor column">
  <div class="block hugging">
    <div class="block red-card">
      <p class="plain-text">
        <span class="intro">
          <a href="/itinerary">An unforgettable experience.</a>
        </span>
        The day includes breakfast, stories from <a href="/speakers">our amazing speakers</a>, lunch, more stories followed up with dinner and drinks at in the Guinness Gravity Bar.
      </p>
      
      <p class="plain-text">
        We're sold out! We do have <a href="/book">a waitlist</a>.
      </p>
    </div>
  </div>
</div>