<div class="block padded centered askew">
  <div class="ragged-card">
    <p class="serif-text">
      <span class="loud">We&rsquo;ve got a full day lined up.</span>
    </p>
  </div>
  <div class ="shadow">&nbsp;</div>
</div>

<div class="major column">
  <div class="block hugging">
    <div class="block flush">
      <div class="plain-text">

        <p>The trip will start with breakfast in Dublin, before attendees embark on their story-telling tour. Along the way, the &lsquo;conference&rsquo; will stop in Kilkenny for a traditional Irish lunch and in Waterford for the day&rsquo;s &lsquo;keynote&rsquo;, before heading back to Dublin for a dinner and wrap up event in Dublin&rsquo;s Guinness Gravity bar.</p>

      </div>
    </div>
  </div>
</div>
<div class="minor column">
  <div class="block hugging">
    &nbsp;
  </div>
</div>