<div class="block padded centered askew">
  <div class="ragged-card">
    <p class="serif-text">
      <span class="loud">The best conference on a bus ever.</span>
    </p>
  </div>
  <div class ="shadow">&nbsp;</div>
</div>

<div class="major column">
  <div class="block hugging">
    <div class="block flush">
      <h3>Itinerary</h3>
      
      <table class="itinerary">
        <tr>
          <td class="time"><p>09:00</p></td>
          <td class="event"><p>Registration and breakfast at l&rsquo;Gueuleton, Dublin.</p></td>
        </tr>
        <tr>
          <td class="time"><p>10:00</p></td>
          <td class="event"><p>Board buses, depart Dublin. Story-telling en route.</p></td>
        </tr>
        <tr>
          <td class="time"><p>12:00</p></td>
          <td class="event"><p>Arrive Kilkenny for lunch.</p></td>
        </tr>
        <tr>
          <td class="time"><p>14:00</p></td>
          <td class="event"><p>Depart Kilkenny. Story-telling en route.</p></td>
        </tr>
        <tr>
          <td class="time"><p>16:00</p></td>
          <td class="event"><p>Arrive Waterford.</p></td>
        </tr>
        <tr>
          <td class="time"><p>17:30</p></td>
          <td class="event"><p>Depart Waterford. Open Mic.</p></td>
        </tr>
        <tr>
          <td class="time"><p>19:30</p></td>
          <td class="event"><p>Arrive Guinness Gravity Bar, Dublin. Supper and drinks.</p></td>
        </tr>
        <tr>
          <td class="time"><p>02:00</p></td>
          <td class="event"><p>Depart Gravity Bar, but the night is young&hellip;</p></td>
        </tr>
      </table>

    </div>
  </div>
</div>
<div class="minor column">
  <div class="block hugging">
    <ul class="illustration-list">
      <li class="illustration-item"><img src="/images/itinerary/gueuleton.jpg" alt="l'Gueuleton"></li>
      <li class="illustration-item"><img src="/images/itinerary/waterford.png" alt="Waterford"></li>
    </ul>
  </div>
</div>