<div class="block padded centered askew">
  <div class="ragged-card">
    <p class="serif-text">
      <span class="loud">An internet conference like no other.</span>
    </p>
  </div>
  <div class ="shadow">&nbsp;</div>
</div>

<div class="major column">
  <div class="block hugging">
    <div class="block flush">
      <div class="plain-text">
        
        <p><em>9:00</em> Registration and breakfast at L&rsquo;Gueleton, Dublin</p>
        
        <p><em>10:00</em> Board busses, depart Dublin. Story-telling en route.</p>
        
        <p><em>12:00</em> Arrive Kilkenny for lunch.</p>
        
        <p><em>14:00</em> Depart Kilkenny. Story-telling en route.</p>
        
        <p><em>16:00</em> Arrive Waterford.</p>
        
        <p><em>17:30</em> Depart Waterford. Open Mic.</p>
        
        <p><em>19:30</em> Arrive Guinness Gravity Bar, Dublin. Supper and drinks</p>
        
        <p><em>02:00</em> Depart Gravity Bar, but the night is young&hellip;</p>

      </div>
    </div>
  </div>
</div>
<div class="minor column">
  <div class="block hugging">
    &nbsp;
  </div>
</div>