<div class="block padded centered askew">
  <div class="ragged-card">
    <p class="serif-text">
      <span class="loud">We&rsquo;ve got a full day lined up.</span>
    </p>
  </div>
  <div class ="shadow">&nbsp;</div>
</div>

<div class="block">
</div>