<div class="block padded centered askew">
  <div class="ragged-card">
    <p class="serif-text">
      <span class="loud">The best conference on a bus ever.</span>
    </p>
  </div>
  <div class ="shadow">&nbsp;</div>
</div>

<div class="major column">
  <div class="block hugging">
    <div class="block flush">
      <h3>10th September 2010</h3>
      
      <table class="itinerary">
        <tr>
          <td class="time"><p>19:00</p></td>
          <td class="event"><p>Pre-Party in <a href="http://maps.google.co.uk/places/ie/dublin/dame-ct/1/-the-stag's-head?gl=uk">the Stag's Head</a>.</p></td>
        </tr>
      </table>
      
      <h3>11th September 2010</h3>
      
      <table class="itinerary">
        <tr>
          <td class="time"><p>08:30</p></td>
          <td class="event"><p>Registration and breakfast at <a href="http://www.lgueuleton.com/">l&rsquo;Gueuleton, Dublin</a>.</p></td>
        </tr>
        <tr>
          <td class="time"><p>10:00</p></td>
          <td class="event"><p>Board buses, depart Dublin. Story-telling en route.</p></td>
        </tr>
        <tr>
          <td class="time"><p>12:30</p></td>
          <td class="event"><p>Arrive Kilkenny. Three course lunch in <a href="http://zuni.ie/">Zuni</a></p></td>
        </tr>
        <tr>
          <td class="time"><p>14:00</p></td>
          <td class="event"><p>Full group story-telling.</p></td>
        </tr>
        <tr>
          <td class="time"><p>15:30</p></td>
          <td class="event"><p>Depart Kilkenny. Story-telling en route.</p></td>
        </tr>
        <tr>
          <td class="time"><p>18:00</p></td>
          <td class="event"><p>Arrive Dublin.</p></td>
        </tr>
        <tr>
          <td class="time"><p>19:30</p></td>
          <td class="event"><p>After party in Guinness Gravity Bar, Dublin. Supper and drinks.</p></td>
        </tr>
        <tr>
          <td class="time"><p>01:30</p></td>
          <td class="event"><p>Depart Gravity Bar, but the night is young&hellip;</p></td>
        </tr>
      </table>
      
      <h3>12th September 2010</h3>
      <table class="itinerary">
        <tr>
          <td class="time"><p>14:00</p></td>
          <td class="event"><p>Rooftop Hair of the Dog BBQ at <a href="http://www.odessaclub.ie/">The Odessa Club</a></p></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="minor column">
  <div class="block hugging">
    <ul class="illustration-list">
      <li class="illustration-item"><a href="http://www.lgueuleton.com/"><img src="/images/itinerary/gueuleton.jpg" alt="l'Gueuleton"></a></li>
      <li class="illustration-item"><a href="http://www.pix.ie/danieljordan13"><img src="/images/itinerary/waterford.jpg" alt="Waterford"></a></li>
    </ul>
  </div>
</div>