<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Funconf: Web People Telling Stories on Buses in Ireland.</title>
  <link rel="stylesheet" href="stylesheets/otto.css" type="text/css" media="screen" charset="utf-8">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <script type="text/javascript" src="http://use.typekit.com/hqa7vwe.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div id="the-site">
    <div class="block tight" id="header">
      <div class="block tight" id="hills">
        <div id="bus">&nbsp;</div>
        <div class="block tight bound" id="header-content">
          <div class="marquee presenters">
            <p class="plain-text"><a href="http://pabcas.com">Paul</a> <span class="amp">&amp;</span> <a href="http://eamo.net">Eamo</a><br />
            <em>present</em></p>
          </div>
          <h1><a href="/">Funconf</a></h1>
          <div class="marquee date">
            <p class="plain-text">
              <strong>24th April 2010</strong><br />
              <em>Ireland</em></p>
          </div>
        </div>
      </div>
    </div>

    <div class="block tight light-card" id="content">
      <div class="tight bound">
        <div id="navigation">
          <ul class="navigation-list">
            <li class="navigation-item">
              <a href="/venue">The Venue</a>
            </li>
            <li class="navigation-item">
              <a href="/itinerary">The Itinerary</a>
            </li>
            <li class="navigation-item">
              <a href="/speakers">The Speakers</a>
            </li>
            <li class="extra-item">
              <a href="/book">Book Tickets &rarr;</a>
            </li>
          </ul>
        </div>
        <%= yield %>
      </div>
    </div>

    <div class="block flush" id="footer">
      <div class="block bound centered">
        <p class="plain-text">
          <span class="top-bound">&copy; 2010 <a href="http://pabcas.com">Paul Campbell</a> (<a href="http://twitter.com/paulca">@paulca</a>) <span class="amp">&amp;</span> <a href="http://eamo.net">Eamon Leonard</a> (<a href="http://twitter.com/eamonleonard">@eamonleonard</a>)</span>
        </p>
        <p class="serif-text">
          You may be interested in reading our<a href="http://funconf.tumblr.com"> blog</a>, or you may not be.<br />
          Questions, comments, suggestions, feedback? <a href="mailto:funconf@gmail.com">funconf@gmail.com</a>.
        </p>
        <p class="serif-text tight"><em>Thanks to our awesome sponsor:</em></p>
        <ul class="sponsor-list">
          <li><a href="http://www.elctech.com/" class="elc">ELC Technologies</a></li>
        </ul>
      </div>
    </div>
  <div>
  
  <script src="http://static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">clicky.init(174473);</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://static.getclicky.com/174473ns.gif" /></p></noscript>
</body>
</html>