<div class="block padded centered askew">
  <div class="ragged-card">
    <p class="serif-text">
      <span class="loud">&ldquo;I&rsquo;d love to come and tell stories provided there is honest-to-god-Guinness.&rdquo;</span>
    </p>
    <p class="plain-text quiet">
      Startup founders, writers, managers, engineers. The Funconf storytellers are behind some of the most exciting web companies in the world.
    </p>
  </div>
  <div class ="shadow">&nbsp;</div>
</div>
<div class="block flush">
  <ul class="speaker-list">
    <li class="odd">
      <div class="speaker">
        <img src="/images/speakers/rands.jpg" />
        <div class="text">
          <h4>Michael Lopp</h4>
          <cite class="cite-text speaker-company"><a href="http://randsinrepose.com">Rands in Repose</a></cite>
          <p class="bio plain-text">
            Michael, aka Rands, blogs at <a href="http://randsinrepose.com">Rands in Repose</a>. He&rsquo;s the author of <a href="http://managinghumans.com/">Managing Humans</a>. If you want to get a sense of Rands&rsquo; inimitable style, browse through his blog, have a read of his <a href="http://www.randsinrepose.com/archives/2002/05/01/rands_vegas_system_prelude.html">Vegas System</a> and be sure to check out the <a href="http://friendda.org/">FriendDA</a>.
          </p>
        </div>
      </div>
    </li>
    <li class="even">
      <div class="speaker">
        <img src="/images/speakers/stump.jpg" />
        <div class="text">
          <h4>Joe Stump</h4>
          <cite class="cite-text speaker-company"><a href="http://simplegeo.com">SimpleGeo</a></cite>
          <p class="bio plain-text">
            Joe Stump has been scaling large websites for over ten years. After spending a few years as <a href="http://digg.com">Digg</a>&rsuqo;s Lead Architect he struck out on his own, with Matt Galligan, to found <a href="http://simplegeo.com/">SimpleGeo</a>. As CTO of SimpleGeo he&rsquo;s responsible for architecting and scaling a robust GIS infrastructure for developers around the world.
          </p>
        </div>
      </div>
    </li>
    <li class="odd">
      <div class="speaker">
        <img src="/images/speakers/siegel.jpg" />
        <div class="text">
          <h4>Jonathan Siegel</h4>
          <cite class="cite-text speaker-company"><a href="http://www.elctech.com/">ELC Technologies</a></cite>
          <p class="bio plain-text">
            Jonathan has been selling technology in one shape or form from about the age of 11. His consultancy, <a href="http://elctech.com">ELC Tech</a> is proud to sponsor funconf. Jonathan knows the tech industry inside and out, having done the startup thing several times with the likes of <a href="http://rightcart.com">RightCart</a> and <a href="http://rightscale.com">RightScale</a>. When he&rsquo;s not tending to his huge family, he can be found swanning around the Playboy Mansion in LA.
          </p>
        </div>
      </div>
    </li>
    <li class="even">
      <div class="speaker">
        <img src="/images/speakers/hoy.jpg" />
        <div class="text">
          <h4>Amy Hoy</h4>
          <cite class="cite-text speaker-company"><a href="http://slash7.com/">Slash7</a></cite>
          <p class="bio plain-text">
            Amy is a girl-geek tech dynamo. She&rsquo;s been writing at <a href="http://slash7.com">Slash7</a> for years, filling the web application world with friendly tutorials and useful cheat-sheets. Amy knows design just as well as she knows code and she&rsquo;s a ferocious force when she&rsquo;s on stage. She&rsquo;s also behind the awesome Twitter mashup <a href="http://twistori.com">Twistori</a> and the fantastic time-tracking tool <a href="http://letsfreckle.com">Freckle</a>.
          </p>
        </div>
      </div>
    </li>
    <li class="odd">
      <div class="speaker">
        <img src="/images/speakers/werner.jpg" />
        <div class="text">
          <h4>Tom Preston-Werner</h4>
          <cite class="cite-text speaker-company"><a href="http://github.com/">Github</a></cite>
          <p class="bio plain-text">
            <a href="http://tom.preston-werner.com/">Tom Preston-Werner</a> who created <a href="http://gravatar.com">Gravatar</a> and sold it to <a href="http://automattic.com">Automattic</a> is one of the founders of <a href="http://www.github.com">Github</a>. The Github story is one of the most inspiring successes of recent times. Tom&rsquo;s post, <a href="http://tom.preston-werner.com/2008/10/18/how-i-turned-down-300k.html">&ldquo;How I Turned Down $300,000 from Microsoft to go Full-Time on GitHub&rdquo;</a> is essential reading for anyone bootstrapping their own web startup. Tom walks the walk, talks the talk, tells a good tale and knows how to party. We&rsquo;re excited to have him on board.
          </p>
        </div>
      </div>
    </li>
    <li class="even">
      <div class="speaker">
        <img src="/images/speakers/marshall.jpg" />
        <div class="text">
          <h4>Marshall Kirkpatrick</h4>
          <cite class="cite-text speaker-company"><a href="http://www.readwriteweb.com">ReadWriteWeb.com</a></cite>
          <p class="bio plain-text">
            One of the most dominant voices writing about the web for the last few years has been Marshall Kirkpatrick. After a spell with <a href="http://techcrunch.com">TechCrunch</a>, Marshall has been the lead writer at <a href="http://readwriteweb.com">ReadWriteWeb</a> for the last few years. He&rsquo;s got insight into how the web works from a technical level as well as a social level, and has some awesome stories to tell of his time getting there.
          </p>
        </div>
      </div>
    </li>
    <li class="odd">
      <div class="speaker">
        <img src="/images/speakers/0at.jpg" />
        <div class="text">
          <h4>Matthew Inman</h4>
          <cite class="cite-text speaker-company"><a href="http://www.0at.org/">The Oatmeal</a></cite>
          <p class="bio plain-text">
            There aren&rsquo;t many success stories like Matthew&rsquo;s on the web today. Matthew built a dating site in <a href="http://mingle2.com/blog/view/how-i-built-mingle2">66.5 hours</a> and was acquired within 6 months. After helping set up <a href="http://seomoz.org">SEOMoz</a> Matthew now gives back to the web through <a href="http://theoatmeal.com">The Oatmeal</a>, a series of smart, funny web comics.
          </p>
        </div>
      </div>
    </li>
    <li class="even">
      <div class="speaker">
        <img src="/images/speakers/hewitt.jpg" />
        <div class="text">
          <h4>Joe Hewitt</h4>
          <cite class="cite-text speaker-company"><a href="http://joehewitt.com/">.com</a></cite>
          <p class="bio plain-text">
           Famous in his own right for his deeply <a href="http://www.joehewitt.com/">insightful blog</a>, you might also know Joe from the tools he&rsquo;s built. <a href="http://getfirebug.com/">Firebug</a> is probably one of the most important developer tools for anyone building web interfaces. It&rsquo;s simply indispensible, and has helped move the entire web forward. Joe also built the <a href="http://www.facebook.com/apps/application.php?id=6628568379">Facebook iPhone app</a>, which he controversially stopped working on due to tricky iPhone policy.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>