<div class="block padded centered askew">
  <div class="ragged-card">
    <p class="serif-text">
      <span class="loud">The Venue is a bus. Two busses actually.</span>
    </p>
  </div>
  <div class ="shadow">&nbsp;</div>
</div>

<div class="major column">
  <div class="block hugging">
    <div class="block flush">
      <h3>Did someone say convoy?</h3>
      <div class="plain-text">
        
        <p>Funconf is different. No hotel boardroom. No straight-back cloth seating. Just 35 limousine-style seats and 12 huge wheels.</p>
        
        <p>Each bus is fitted out with comfy wraparound seats, a PA system and a bar. Oh, and there&rsquo;s a little boys room too. We&rsquo;ll have refreshments on hand all day, and regular stops for &ldquo;air&rdquo; or to swap buses.</p>
      </div>
    </div>
  </div>
</div>