/* FIRST: tear it all down as per the edict of mr meyer (http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* NOW: start the slow process of rebuilding */

/* THE BASICS */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 62.5%;
	color: rgb(54,46,41);
	line-height: 1.125em;
	background: rgb(255,114,18) url(../images/bg.jpg) repeat;
}

strong { 
	font-weight: bold; 
}

em {
  font-style: italic;
}

#wrapper {
  padding: 4em 0 0;
}


/* HEADERS */

h1 {
  text-decoration: none;
  text-indent: -9999em;
  overflow: hidden;
  height: 84px;
  width: 732px;
  margin: 0 auto;
  background: transparent url(../images/h1.png) center center no-repeat;
}

h2 {
  display: inline;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Palatino, Georgia, 'Times New Roman', serif;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-weight: normal;
  text-shadow: rgba(255,255,255,.45) 0px 1px 1px;
  border: .10em solid rgba(255,255,255,.175);
  border-width: 0 0 .10em;
}


h4 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(0,0,0,.8);
  text-shadow: rgba(255,255,255,.25) 0px 1px 1px;
}

/* A POTPURRI OF TEXT */


/* A POTPURRI OF TEXT */

.simple-text {
  font-size: 1.4em;
  text-shadow: rgba(255,255,255,.25) 0px 1px 1px;
}

.cite-text {
  font-size: 1.1em;
  text-shadow: rgba(255,255,255,.10) 0px 1px 1px;
}

.cite-text a, .cite-text a:visited {
  text-decoration: none;
  color: rgb(54,46,41);
}

.cite-text a:hover {
  color: rgba(0,0,0,1);
}

.plain-text {
  font-size: 1.4em;
  line-height: 1.6em;
  text-shadow: rgba(255,255,255,.25) 0px 1px 1px;
}

.plain-text a, .plain-text a:visited {
  text-decoration: none;
  font-weight: bold;
	color: rgb(54,46,41);
}

.plain-text a:hover {
  color: rgba(0,0,0,.9);
}

.plain-text p,
.plain-text ul {
  margin-bottom: 1em;
}

.plain-text em {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Palatino, Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-size: 1.125em;
}

.plain-text .intro {
  font-size: 1.125em;
  font-weight: bold;
}

.serif-text {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Palatino, Georgia, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 1.6em;
  line-height: 1.4em;
  text-shadow: rgba(255,255,255,.25) 0px 1px 1px;
}

.card .serif-text {
  text-shadow: rgba(255,255,255,.75) 0px 1px 1px;
}

.alert-card .serif-text {
  color: rgba(255,255,255,.75);
  text-shadow: rgba(0,0,0,.15) 0px -1px -1px;
}

.alert-card .serif-text a, .alert-card .serif-text a:visited {
  color: rgba(255,255,255,.80);
}

.alert-card .serif-text a:hover {
  color: rgba(255,255,255,.90);
}

.serif-text.condensed {
  line-height: 1.2em;
}

.serif-text strong {
  font-weight: bold;
}

.serif-text .de-em {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: .9em;
}

.serif-text a, .serif-text a:visited {
  text-decoration: none;
	color: rgb(54,46,41);
  font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.serif-text a:hover {
  color: rgba(0,0,0,.9);
/*    border-bottom: 1px dashed #595336;*/
}

p.serif-text,
.serif-text p,
.serif-text ul {
    margin-bottom: 1em;
}

.serif-text .serif-intro {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: bold;
}

.serif-text .serif-intro strong {
  font-size: 1em;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Palatino, Georgia, 'Times New Roman', serif;
}

.serif-text .intro {
  font-size: 1.2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* SPONSOR-LIST */

ul.sponsor-list {
  text-align: center;
  margin-top: -2em;
}

ul.sponsor-list li {
  display: inline;
  padding: 0 .35em;
}

ul.sponsor-list li a, ul.sponsor-list li a:visited {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-indent: -9999em;
  overflow: hiddden;
  width: 24em;
  height: auto;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  width: 256px;
  opacity: .75;
}

ul.sponsor-list li a:hover {
  opacity: .85;
}

ul.sponsor-list li a.elc {
  height: 92px;
  background: url(/images/sponsors/elc.png);
}

/* SPEAKER-LIST */

ul.speaker-list {
  text-align: center;
}

ul.speaker-list li {
  display: block;
  float: left;
  padding: 0 .35em 2em;
}

ul.speaker-list li img {
  border: .5em solid rgb(225,100,11);
  width: 10em;
  height: auto;
}

ul.speaker-list li h4 {
  padding: .5em 0 0;
}

ul.speaker-list li cite {
  display: block;
  padding: .35em 0 0;
  font-weight: 400;
}

/* THE BLOCK TYPES */

.block {
  overflow: hidden;
  padding: 1em 2em;
}

.bound {
  margin: 0 auto;
  width: 48em;
}

.wide-load {
  margin: 0 auto;
  width: 72em;
  clear: both;
}

.wide-load .column {
  float: left;
  padding: 0;
  margin: 0;
}

.wide-load .one-third {
  width: 24em;
}

.wide-load .two-third {
  width: 48em;
}

.delineated {
  border: .10em dotted rgba(255,255,255,.175);
  border-width: .10em 0;
}

.top-bound {
  border: .10em solid rgba(255,255,255,.175);
  border-width: .10em 0 0;
  padding-top: .25em;
}

.bottom-bound {
  border: .10em solid rgba(255,255,255,.175);
  border-width: 0 0 .10em;
  padding-bottom: .25em;
}

.flush {
  padding: 1em 0;
}

.tight {
  padding: 0;
}

.header {
  padding: 4em 2em 2em;
}

.padded {
  padding: 2em;
}

.centered {
  text-align: center;
}

.alert-card {
  -webkit-border-radius: .35em;
  -webkit-box-shadow: rgba(0,0,0,.25) 0px 1px 1px;
  padding: 1.4em 2em 0em;
  background: rgba(211,86,0,.75);
  border-color: rgb(201,89,10);
  border-style: solid;
  border-width: .10em 0;
}

.card {
  padding: 3em 2em 2em;
  background: rgba(255,255,255,.80);
  border-color: rgb(201,89,10);
  border-style: solid;
  border-width: .10em 0;
}

.tight-card {
  padding: 3em 0 2em;
}

.card-shadow {
  border: 0;
  overflow: hidden;
  padding: 0;
  height: 26px;
  background: transparent url(../images/shadow.png) center top no-repeat;
}

.card-glow {
  border: 0;
  overflow: hidden;
  padding: 0;
  height: 48px;
  background: transparent url(../images/glow.png) center top repeat-x;
}

.dark-card {
  background: rgb(44,44,44);
  color: #fff;
}

/* bits of things */

.amp {
  font-family: Palatino, Baskerville, Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-size: 1.125em;
}


.embellishment {
  display: block;
  margin: 0 auto;
  width: 38px;
  height: 16px;
  text-decoration: none;
  text-indent: -9999em;
  overflow: hidden;
  background: transparent url(../images/embellishment.png) center center no-repeat;
}

.closer {
  display: block;
  margin: 0 auto;
  width: 37px;
  height: 37px;
  text-decoration: none;
  text-indent: -9999em;
  overflow: hidden;
  background: transparent url(../images/closer.png) center center no-repeat;
}

.bus-divider {
  display: block;
  margin: 0 auto;
  width: 288px;
  height: 24px;
  text-decoration: none;
  text-indent: -9999em;
  overflow: hidden;
  background: transparent url(../images/bus.png) center center repeat-x;
}

.divider {
  display: block;
  margin: 0 auto;
  width: 42px;
  height: 18px;
  text-decoration: none;
  text-indent: -9999em;
  overflow: hidden;
  background: transparent url(../images/divider.png) center center no-repeat;
}