/* FIRST: tear it all down as per the edict of mr meyer (http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* NOW: start the slow process of rebuilding */

/* THE BASICS */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 62.5%;
	color: rgb(54,46,41);
	line-height: 1.125em;
	background: rgb(255,114,18) url(../images/bg.jpg) repeat;
}

strong { 
	font-weight: bold; 
}

em {
  font-style: italic;
}

#the-site {
  margin: 0;
  padding: 0;
}

#content {
  background: rgba(255,255,255,.85);
}

#footer {
  
}


/* LET ME TELL YOU ABOUT MY PLAIN TEXT */

.plain-text {
  font-size: 1.6em;
  line-height: 1.6em;
  text-shadow: rgba(255,255,255,.25) 0px 1px 1px;
}

.plain-text a, .plain-text a:visited {
  text-decoration: none;
  font-weight: bold;
	color: rgb(54,46,41);
}

.plain-text a:hover {
  color: rgba(0,0,0,.9);
}

.plain-text p,
.plain-text ul {
  margin-bottom: 1em;
}

.plain-text em {
  font-family: Palatino, Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-size: 1.125em;
}

.plain-text .intro {
  font-size: 1.125em;
  font-weight: bold;
}

/* HEADER */

#header {
  background: transparent url(../images/header-bg.png) bottom center repeat-x;
}

h1 {
  float: left;
  text-indent: -9999em;
  overflow: hidden;
  text-decoration: none;
  width: 60.1em;
  height: 13em;
  background: transparent url(../images/h1.png) center 3em no-repeat;
}

#header .marquee {
  width: 12.95em;
  padding: 5em 0 0;
}

#header .marquee.presenters {
  float: left;
  text-align: right;
}

#header .marquee.date {
  float: right;
  text-align: left;
}

/* FOOTER */

#footer {
  background: transparent url(../images/footer-bg.png) top center repeat-x;
}


/* THE BLOCK TYPES */

.block {
  overflow: hidden;
  padding: 1em 2em;
}

.bound {
  margin: 0 auto;
  width: 86em;
}

.flush {
  padding: 1em 0;
}

.tight {
  padding: 0;
}

.padded {
  padding: 2em;
}

.centered {
  text-align: center;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

/* THE MISC STUFF */

.amp {
  font-style: italic;
  font-family: Palatino, Baskerville, 'Times New Roman';
}