body { text-align: center; margin-top: 10em; background-color: rgb(45,40,40); }
div.main { background-image: url(funconf.png); width: 902px; height: 148px; background-repeat: no-repeat; margin: auto; padding-top: 7em;}
p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  color: #FFF;}
p em { font-size: 1.2em; font-family: Palatino, Georgia, 'Times New Roman', serif; }